__pycache__/
.vscode/
Dataset/images/IT-DatabaseCZ.jpg
Dataset/images/IT-DatabaseCZ.psd
Dataset/images/IT-DatabaseEN.psd

Frontend/conceptual-model-editor/src/App.test.js
Frontend/conceptual-model-editor/src/CustomNode.js
Frontend/conceptual-model-editor/src/commands.txt
Frontend/conceptual-model-editor/src/reportWebVitals.js
Frontend/conceptual-model-editor/src/setupTests.js

commands.txt
llama/
output/
requirements.txt
get_stream.py
data/56-2001-extract-llm-assistant-test-case/56-2001-extract-llm-assistant-test-case.txt_embeddings.npy
data/56-2001-extract-llm-assistant-test-case/actual_output.txt
data/56-2001-extract-llm-assistant-test-case/manual_evaluation.txt
data/56-2001-extract-llm-assistant-test-case/56-2001-extract-llm-assistant-test-case-truncated.txt
data/56-2001-extract-llm-assistant-test-case/relationships-evaluation/*
out.txt
out_manual.txt
inferences-log.txt
x.py
asociace-změny.txt
entities-prompts.txt
notes/2024-01-28 Návrh schématu konceptuálního modelu.pdf
notes/odkaz na 2024-01-28 Návrh schématu konceptuálního modelu.txt
cache/
conceptual-model-editor-assistant/public/input.txt
domain-modeling-benchmark/