.appDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  
}

/* Source: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.sideBar {
  position: absolute;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%;
  top: 0;
  right: 0;
  padding: 0px 0px 0px 0px;
  overflow-x: hidden; /* Disable horizontal scroll */
  color: white;
  background-color: #111;
  font-family: Arial;
  /* border-color: black;
  border-width: 4px;
  border-style: solid; */
}

.sideBar p {
  padding: 6px 8px 6px 16px;
  font-size: 16px;
}

.topBar {
  height: 310px;
  width: 80%;
  padding-top: 10px;
  color: black;
  background-color: white;
  font-family: Arial;
  overflow: auto;
}

.overlay {
  background: rgba(255,255,255,0.7);
  font-family: Arial;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  white-space: pre-wrap; /* Preserve new lines */
}

.overlay div {
  max-width: 1000px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  margin: 2% auto;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.close {
  /* left: 1430px; */
  left: 1840px;
  top: 10px;
  margin-left:auto;
  display: block;
  position: fixed;
  
}

.highlight {
  background-color: orange;
  position: relative;
  /* display: inline-block; */
  /* border-bottom: 1px dotted black; */
}

.highlight .tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  background-color: white;
  border-width: 6px;
  border-style: solid;
  border-color: white;
  margin-left: -60px;
}

.highlight:hover .tooltip {
  visibility: visible;
}

.highlightAttributes {
  background-color: rgb(0, 179, 255);
}

.highlightRelationships {
  /* border-bottom: red 3px solid; */
  /* text-decoration: underline orange 2px; */
  background-color: rgb(255, 242, 0);
}

.highlightAttributes.highlightRelationships {
  background-color: rgb(124, 236, 124);
}

.domainDescriptionLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* Ignore domain description checkbox */
#isIgnoreDomainDescription {
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.plusButton {
  font-size: 20px;
}

.reactFlowDiv {
  width: 80%;
  height: 627px;
}

.nodeTitle {
  font-size: 18px;
}

/*div.react-flow__node {
  padding: 20px;
}*/

text.react-flow__edge-text {
  font-size: 14px;
}

/* Selected node */
.react-flow__node-default.selectable.selected
{
  border-width: 4px;
  border-color: blue;
}