.highlight {
  background-color: orange;
  position: relative;
  /* display: inline-block; */
  /* border-bottom: 1px dotted black; */
}

.highlightAttributes {
  background-color: rgb(0, 179, 255);
}

.highlightRelationships {
  /* border-bottom: red 3px solid; */
  /* text-decoration: underline orange 2px; */
  background-color: rgb(255, 242, 0);
}

.highlightAttributes.highlightRelationships {
  background-color: rgb(124, 236, 124);
}

.textGray {
  color: gray;
}

.reactFlowDiv {
  width: 80%;
  height: 622px;
}

.nodeTitle {
  font-size: 18px;
}

/*div.react-flow__node {
  padding: 20px;
}*/

text.react-flow__edge-text {
  font-size: 14px;
}

/* Selected node */
.react-flow__node-default.selectable.selected
{
  border-width: 5px;
  border-color: rgb(0, 89, 255);
}