/* TODO: Place all css styles into their corresponding place in the code */

.highlight
{
  background-color: orange;
  position: relative;
  /* display: inline-block; */
  /* border-bottom: 1px dotted black; */
}

.highlightAttributes
{
  background-color: rgb(0, 179, 255);
}

.highlightRelationships
{
  /* border-bottom: red 3px solid; */
  /* text-decoration: underline orange 2px; */
  background-color: rgb(255, 242, 0);
}

.highlightAttributes.highlightRelationships
{
  background-color: rgb(124, 236, 124);
}

.textGray
{
  color: gray;
}

.reactFlowDiv
{
  width: 80%;
  height: 622px;
}
