.propertiesButton {
  width: 100px;
}

.entityButton {
  width : 200px;
  height: 200px;
}

.App h1 {
  text-align: center;
  color: black;
}


/* Source: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
/* The sidebar menu */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 270px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
  color: white;
  font-family: Arial;
}

.sidebar p {
  color : white;
  padding: 6px 8px 6px 16px;
  font-size: 14px;
}

/* When you mouse over the navigation links, change their color */
.sidebar p:hover {
  color: #f1f1f1;
}

.topBar {
  /* height: 220px; */
  height: 300px;
  width: 50%; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 10px;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
  color: black;
  font-family: Arial;
}

.green {
  color: rgb(0, 34, 255);
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.domainDescriptionLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

/* Ignore domain description checkbox */
#isIgnoreDomainDescription {
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
}

.plusButton {
  font-size: 20px;
}

.nodeTitle {
  font-size: 18px;
}

/*div.react-flow__node {
  padding: 20px;
}*/

text.react-flow__edge-text {
  font-size: 14px;
}

.react-flow__edge {
  font-size: 30px;
  color: red;
  border-width: 20px;
  width: 200px;
}

.react-flow__edge-textbg {
  padding: 20px;
  width: 200px;
}


.react-flow__node-default.selectable.selected
{
  border-width: 4px;
  border-color: blue;
}