.appDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  
}

/* Source: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.sideBar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sideBar */
  /* position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111;
  

  /* border-color: black;
  border-width: 4px;
  border-style: solid; */

  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  color: white;
  font-family: Arial;
  min-height: 100vh;
}

.sideBar p {
  color : white;
  padding: 6px 8px 6px 16px;
  font-size: 16px;
}

.sideBar p:hover {
  color: #f1f1f1;
}

.topBar {
  height: 310px;
  width: 80%;
  background-color: white;
  padding-top: 10px;
  color: black;
  font-family: Arial;
  overflow: auto;
}

.highlight {
  background-color: orange;
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.highlight .tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

/* .highlight:hover .tooltip {
  visibility: visible;
} */

.domainDescriptionLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* Ignore domain description checkbox */
#isIgnoreDomainDescription {
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.plusButton {
  font-size: 20px;
}

.reactFlowDiv {
  width: 80%;
  height: 617px;
}

.nodeTitle {
  font-size: 18px;
}

/*div.react-flow__node {
  padding: 20px;
}*/

text.react-flow__edge-text {
  font-size: 14px;
}

.react-flow__edge {
  font-size: 30px;
  color: red;
  border-width: 20px;
  width: 200px;
}

.react-flow__edge-textbg {
  padding: 20px;
  width: 200px;
}


.react-flow__node-default.selectable.selected
{
  border-width: 4px;
  border-color: blue;
}