.propertiesButton {
  width: 100px;
}

.entityButton {
  width : 200px;
  height: 200px;
}

.App h1 {
  text-align: center;
  color: black;
}


/* Source: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
/* The sidebar menu */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 270px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
  color: white;
  font-family: Arial;
}

/* The navigation menu links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  display: block;
}

.sidebar p {
  color : white;
  padding: 6px 8px 6px 16px;
  font-size: 14px;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}


/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.domainDescriptionLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

input {
  height: 10px;
}

.node {
  font-size: 18px;
}
